/*PlayfairDisplay*/
@font-face {
    font-family: "PlayfairDisplay-Black"; /* Имя шрифта */
    src: url(fonts/PlayfairDisplay/PlayfairDisplay-Black.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: "PlayfairDisplay-BlackItalic"; /* Имя шрифта */
    src: url(fonts/PlayfairDisplay/PlayfairDisplay-BlackItalic.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: "PlayfairDisplay-Bold"; /* Имя шрифта */
    src: url(fonts/PlayfairDisplay/PlayfairDisplay-Bold.ttf); /* Путь к файлу со шрифтом */
}


@font-face {
    font-family: "PlayfairDisplay-BoldItalic"; /* Имя шрифта */
    src: url(fonts/PlayfairDisplay/PlayfairDisplay-BoldItalic.ttf); /* Путь к файлу со шрифтом */
}


@font-face {
    font-family: "PlayfairDisplay-Italic"; /* Имя шрифта */
    src: url(fonts/PlayfairDisplay/PlayfairDisplay-Italic.ttf); /* Путь к файлу со шрифтом */
}


@font-face {
    font-family: "PlayfairDisplay-Regular"; /* Имя шрифта */
    src: url(fonts/PlayfairDisplay/PlayfairDisplay-Regular.ttf); /* Путь к файлу со шрифтом */
}
/*PlayfairDisplay*/




/*Roboto*/
@font-face {
    font-family: "Roboto"; /* Имя шрифта */
    src: url(fonts/Roboto/Roboto-Bold.ttf); /* Путь к файлу со шрифтом */
}
/*Roboto*/


/*Open Sans*/
@font-face {
    font-family: "OpenSans"; /* Имя шрифта */
    src: url(fonts/OpenSans/2204.ttf); /* Путь к файлу со шрифтом */
}
/*Open Sans*/
