@import "vars";

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px){
    .delivery{
   
        .wr__bridge{
            display: none;
        }
    }
}
	/**/


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px){
   .delivery{
   background-color: #ffeb3d;
       background-image: none;
    }
}
	/**/


/* Small Devices, Tablets */
@media only screen and (max-width : 768px){
    .product__item{
        img{
            float: none;
            margin-left: 50%;
            transform: translateX(-50%);
        }
        p{
            
            text-align: center !important;
        }
    }
}

	/**/


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px){
    .product__item{
        img{
            float: none;
            margin-left: 50%;
            transform: translateX(-50%);
        }
        p{

            margin-left: 50%;
            transform: translateX(-50%);
            text-align: center;
        }
        
    }
}
	/**/


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px){
   .product__item{
        img{
            float: none;
            margin-left: 50%;
            transform: translateX(-50%);
        }
       p{
           display: block;
            margin-left: 0%;
            transform: translateX(25%);
            text-align: center;
        }
        
    }
}
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px){
   /* .product__item{
        img{
            float: none;
            margin-left: 50%;
            transform: translateX(-50%);
        }
        
    }*/
}
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px){
    
}
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px){
    .product__item{
        img{
            float: left;
            margin-top: 20px;
        }
        
    }
}
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px){
    .product__item{
        img{
            float: left;
            margin-top: 20px;
        }
        
    }
}
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px){
    .product__item{
        img{
        float: left;
        margin-top: 20px;
        }
        
    }
}
	/**/

