@import "libs";
@import "vars";
@import "font";




input,button {outline:none;}
/*начало header*/
.header{
    width: 100%;
    background-image: url(../img/header-fon.png);
    background-repeat: no-repeat;
    background-size:cover;
    min-height: 700px;
    position: relative;
    
    &__logo{
        width: 110px;
        height: 37px;
        margin-top: 45px;
        float: left;
        padding-left: 15px;
    }
    
    &__menu{
        float: left;
        margin-top: 55px;
        margin-left: 150px;
        .menu__item{
            
            font-size: 13px;
            font-weight: 300;
            margin-right: 45px;
            text-decoration: none;
            color: #000;
            
            &:hover{
                border-bottom: 2px solid #fff;
                
            }
        }
    }
    
    &__leng{
        width: 40px;
        height: 30px;
        text-align: center;
        text-transform: uppercase;
        line-height: 25px;
        background-color: #fff07c;
        border-top: 4px solid #fff;
        float: right;
        margin-top: 50px;
        
        font-size: 16px;
        font-weight: 900;
    }
    .fa-bars{
        float: right;
        margin-top: 45px;
        z-index: 5;
        font-size: 20px;
        &:hover{
            cursor: pointer;
        }
    }
    
    .clear{
        clear: both;
        margin-bottom: 100px;
    }
    &__title{
        font-family: PlayfairDisplay;
        text-transform: uppercase;
        margin-top: 50px;
    }
    &__description{
        font-family: PlayfairDisplay;
        font-weight: 800;
        font-style: italic;
    }
    .header__text{
        font-family: PlayfairDisplay;
        font-weight: 400;
        color: red;
    }
    
    .header__line{
        background-color: #fff;
        height: 4px;
        width: 30%;
        position: absolute;
        top:275px;
        
    } 
}
.header__btn{
        display: block;
        width: 180px;
        height: 40px;
        border: 2px solid #e65100;
        margin-top: 40px;
        line-height: 37px;
        text-transform: uppercase;
        text-align: center;
        color: #e65100;
        transition: 0.5s;
        font-size: 14px;
        font-weight: 700;
        
        &:hover{
            text-decoration: none;
            color: #fff;
            background-color: #e65100;
            cursor: pointer;
        }

}
/*конец header*/





/*начало product*/
.product{
    min-height: 495px;
    background-image: url(../img/product-fon.png);
    
    &__title{
        margin-top: 75px;
        margin-bottom: 60px;
        text-align: center;
        font-family: PlayfairDisplay;
        font-weight: 900;
        font-size: 24px;
    }
    
    &__item{
        height: 100px;
        margin-bottom: 50px;
        
        img{
            float:left;
            margin-top: 20px;
        }
        
        p{
            font-family: PlayfairDisplay;
            font-size: 14px;
            font-weight: 400;
            width: 178px ;
            margin-left: 100px;
            margin-top: 31px;
            margin-left: 50%;
            transform: translateX(-50%);
        }
    }
}
/*конец product*/





/*начало catalog*/
.catalog{
    min-height: 367px;
    position: relative;
    .card{
        min-height: 400px;
        margin-bottom: 30px;
        &__title{
            font-family: PlayfairDisplay;
            font-size: 24px;
            font-weight: 900;
            
            text-align: center;
        }
        
        .card__photo{
            overflow: hidden;
            border-radius: 10px;
            
        .owl-prev{
            display: none;
        }
        
        .owl-next{
            top: 0px;
            right: 0px;
            width: 100%;
            position: absolute;
            height: 100%;
            padding: 0px;
            margin: 0px;
            background-color:transparent !important;
        }
        
        .owl-nav{
            
        }
        .owl-dots{
            display: none;
        }
            
            
            
            
            
            .wr-rotation{
                position: absolute;
                bottom: -9px;
                z-index: 5;
                right: -36px;
                width: 118px;
                height: 48px;
                transform: rotate(-44deg);
                background-color: #ffa726;
            }
            .rotation{
                position: absolute;
                bottom: 7px;
                z-index: 5;
                right: 8px;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                text-align: center;
                line-height: 40px;
                background-color: #ffa726;
                font-family: PlayfairDisplay;
                font-size: 16px;
                font-weight: 700;
                &:hover{
                    cursor: pointer;
                }
            }
            
            .card__number{
                position: absolute;
                top: 0px;
                left: 7%;
                z-index: 2;
                color: #d9d9d9;
                font-family: PlayfairDisplay;
                font-size: 48px;
                font-weight: 700;
                line-height: 29px;
                margin-top: 15px;
            }
            
            img{
                width: 100%;
                height: 100%;
            }
        }
        
        .card__list{
            
            .card__model{
                
                .model__h{
                    color: #b3b3b3;
                    font-family: PlayfairDisplay;
                    font-size: 12px;
                    font-weight: 400;
                }
                .model__p{
                    font-family: PlayfairDisplay;
                    font-size: 16px;
                    font-weight: 700;
                }
                
            }
            
            .card__manufacturer{
                .manufacturer__h{
                    color: #b3b3b3;
                    font-family: PlayfairDisplay;
                    font-size: 12px;
                    font-weight: 400;
                }
                .manufacturer__p{
                    font-family: PlayfairDisplay;
                    font-size: 16px;
                    font-weight: 700;
                }
            }
            
            .card__color{
                .color__h{
                    color: #b3b3b3;
                    font-family: PlayfairDisplay;
                    font-size: 12px;
                    font-weight: 400;
                }
                .color__p{
                    font-family: PlayfairDisplay;
                    font-size: 16px;
                    font-weight: 700;
                }
            }
            
            .card__price{
                .price__h{
                    color: #b3b3b3;
                    font-family: PlayfairDisplay;
                    font-size: 12px;
                    font-weight: 400;
                }
                .price__p{
                    font-family: PlayfairDisplay;
                    font-size: 16px;
                    font-weight: 700;
                    color:  #ffa726;
                }
            }
            
            .card__size{
                .size__h{
                    color: #b3b3b3;
                    font-family: PlayfairDisplay;
                    font-size: 12px;
                    font-weight: 400;
                }
                .size__p{
                    font-family: PlayfairDisplay;
                    font-size: 16px;
                    font-weight: 700;
                }
                
            }
            
            .card__material{
                .material__h{
                    color: #b3b3b3;
                    font-family: PlayfairDisplay;
                    font-size: 12px;
                    font-weight: 400;
                }
                .material__p{
                    font-family: PlayfairDisplay;
                    font-size: 16px;
                    font-weight: 700;
                }
            }
            
            .card__text{
                min-height: 100px;
                .text__h{
                    color: #b3b3b3;
                    font-family: PlayfairDisplay;
                    font-size: 12px;
                    font-weight: 400;
                }
            }
        }
        
        
        
        .card__btn{
            display: block;
            transition: 0.5s;
            height: 40px;
            border: 2px solid #e65100;
            margin-left: 15px;
            line-height: 37px;
            text-transform: uppercase;
            text-align: center;
            color: #e65100;
            font-size: 14px;
            font-weight: 700;
            &:hover{
                text-decoration: none;
                color: #fff;
                background-color: #e65100;
                cursor: pointer;
            }
            
        }
    }
    
}
/*конец catalog*/



/*начало delivery*/
.delivery{
    width: 100%;
    min-height: 570px;
    background-image: url(../img/delyvery.png);
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    &__title{
        font-family: PlayfairDisplay;
        font-size: 24px;
        font-weight: 900;
        text-align: center;
    }
    
    &__description{
        font-family: PlayfairDisplay;
        font-size: 14px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 100px;
    }
    
    &__wr{
        display: inline-block;
        margin-left: 0px;
        height: 230px;
        position: relative;
        
        .wr__logo{
            position: absolute;
            top: 10px;
            margin-left: 50%;
            transform: translateX(-60%);
        }
        
        .wr__text{
            text-align: center;
            position: absolute;
            font-family: PlayfairDisplay;
            font-size: 14px;
            font-weight: 700;
            top: 133px;
            width: 171px;
            margin-left: 50%;
            transform: translateX(-60%);
        }
        
        .wr__bridge{
            position: absolute;
            left: 245px;
            top: 46px;
        }
    }
    
}
/*конец delivery*/






/*начало reviews*/
.reviews{
    background-image: url(../img/otzyvy.png);
    min-height: 570px;
    
    &__title{
        font-family: PlayfairDisplay;
        font-size: 24px;
        font-weight: 900;
        text-align: center;
        padding: 20px 0px;
    }
    
    &__overllay{
        width: 100%;
        height: 375px;
        background-color: rgba(255,255,255,.7);
        position: relative;
        
        .carousel__item{
            width: 100%;
            height: 300px;
            
            .item__logo{
                margin-top: 20px;
                width: 120px;
                height: 120px;
                margin-left: 50%;
                transform: translateX(-50%);
                border-radius: 50%;
                background-size:cover;
            }
            #reviews-logo{background-image: url(../img/reviews-logo.jpg);}
            #reviews-logo2{background-image: url(../img/reviews-logo2.png);}
            #reviews-logo3{background-image: url(../img/reviews-logo3.png);}
            .item__name{
                font-family: PlayfairDisplay;
                font-size: 16px;
                font-weight: 900;
                text-align: center; 
            }
            
            .item__specialty{
                color: #666;
                font-family: PlayfairDisplay;
                font-size: 14px;
                font-weight: 400;
                text-align: center;
            }
            
            .item__text{
                padding-left: 150px;
                padding-right: 150px;
                color: black;
                font-family: PlayfairDisplay;
                font-size: 14px;
                font-weight: 400;
                text-align: center;
            }
            
            
        }
        
        .owl-prev{
            top: 0px;
            left: 0px;
            width: 30%;
            position: absolute;
            height: 375px;
            padding: 0px;
            margin: 0px;
            background-color:transparent !important;
        }
        
        .owl-next{
            top: 0px;
            right: 0px;
            width: 30%;
            position: absolute;
            height: 375px;
            padding: 0px;
            margin: 0px;
            background-color:transparent !important;
        }
        
        .owl-nav{
            background-color:transparent;
        }
        
    }
}
/*конец reviews*/

.footer{
    width: 100%;
    min-height: 70px;
    margin-top: 0px;
    background-color: #000;
    color: #fff;
    p{
        line-height: 42px;
    }
    a{
        color: #fff;
        line-height: 70px;
    }
}
        
.small-menu{
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    position: absolute;
    position: fixed;
    top: 0px;
    z-index: 4;
    :nth-child(2) {
        margin-top: 150px;
    }
    .small-menu-title{
        text-align: center;
    }
    a{
        line-height: 40px;
        color: #000;
        text-align: center;
        text-decoration: none;
        display: block;
        background-color: #ffed45;
        width: 100%;
        margin-top: 2px;
        margin-bottom: 2px;
        height: 40px;
        transition: 0.5s;
        &:hover{
            background-color: rgba(255,237,69,0.1)
        }
    }
    .fa-times{
        font-size: 25px;
        float: right;
        margin-top: 45px;
        margin-right: 7px;
        &:hover{
            cursor: pointer;
        }
    }
}

.popup-wrapp{
    position: absolute;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    display: none;
    z-index: 7;
    
}
.popup{
        position: absolute;
        position: fixed;
        top: 0px;
        z-index: 15;
        margin-top: 200px;
        height: 250px;
        background-color: #fff;
        top: 0px;
        transition: 0.5;
        display: none;
        .close{
            float: right;
            margin-top: 15px;
            color: #bebebe;
            &:hover{
                cursor: pointer;
                color: #000;
            }
        }
        
        .name{
            display: block;
            border: none;
            border-bottom: 2px solid #bebebe;
            margin-top: 40px;
            margin-bottom: 20px;
        }
        .tel{
            display: block;
            border: none;
            border-bottom: 2px solid #bebebe;
            margin-top: 20px;
            margin-bottom: 20px;
        }
    .popup-btn{
            height: 40px;
            background-color: #fff;
            border: 2px solid #e65100;
            line-height: 37px;
            text-transform: uppercase;
            text-align: center;
            color: #e65100;
            transition: 0.5s;
            margin-top: 20px;
            margin-bottom: 20px;
            font-size: 14px;
            font-weight: 700;
        &:hover{
            text-decoration: none;
            color: #fff;
            background-color: #e65100;
            cursor: pointer;
            }
        }
        
    }

.popup360-KedukiVintage{
        position: fixed;
        top: 0px;
        display: none;
        z-index: 10;
        width: 100%;
        height: 100%;
        background-color: #fff;
        top: 0px;
        transition: 0.5;
        img{
            width: 50%;
            height: 100%;
            margin-left: 50%;
            transform: translateX(-50%);
        }
    
    .go{
        width: 50%;
        height: 100%;
        margin: 0 auto;
    }
    .fa-times{
        color: #000;
        position: absolute;
        top: 0;
        right: 5%;
        font-size: 35px;
        &:hover{
            cursor: pointer;
        }
    }
}

.popup360-KedukiTireno{
        position: absolute;
        position: fixed;
        top: 0px;
        display: none;
        justify-content: space-around;
        z-index: 50;
        width: 100%;
        height: 100%;
        background-color: #fff;
        top: 0px;
        transition: 0.5;
        img{
            width: 50%;
            height: 100%;
            margin-left: 50%;
            transform: translateX(-50%)
    }
    .go{
        width: 50%;
        height: 100%;
        margin: 0 auto;
    }
    .fa-times{
        color: #000;
        position: absolute;
        top: 0;
        right: 5%;
        font-size: 35px;
        &:hover{
            cursor: pointer;
        }
    }
}

.popup360-KedukiUgoConti{
        position: absolute;
        position: fixed;
        top: 0px;
        display: none;
        justify-content: space-around;
        z-index: 50;
        width: 100%;
        height: 100%;
        background-color: #fff;
        top: 0px;
        transition: 0.5;
        img{
            width: 50%;
            height: 100%;
            margin-left: 50%;
            transform: translateX(-50%)
    }
    .go{
        width: 50%;
        height: 100%;
        margin: 0 auto;
    }
    .fa-times{
        color: #000;
        position: absolute;
        top: 0;
        right: 5%;
        font-size: 35px;
        &:hover{
            cursor: pointer;
        }
    }
}

@import "media" // Всегда в конце
